body{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 70px;
    background-image: url(./geometric.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header h1{
    font-size: 54px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}
header span{
    color: #d9d9d9;
    font-size: 23px;
}
.container-figures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
    text-align: center;
}
.container-figures section {
    background-color: #ffffff47;
    backdrop-filter: blur(8px);
    padding: 20px 40px;
    border-radius: 10px;
}
.container-figures section h2{
    margin-top: 0;
    text-transform: uppercase;
    color: #ffb000;
}
.container-figures section h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
.container-figures section form {
    margin-top: 10px;
}
.sectionLI{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-figures section label {
    font-size: 16px;
    width: 46%;
    text-align: left;
    align-items: flex-start;
    color: #f8f8f8;
}
.container-figures section input{
    width: 46%;
    height: 30px;
    margin: 0px 0 15px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}
.section-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container-figures section .button{
    height: 50px;
    border-radius: 5px;
    border: 0;
    width: 46%;
    font-weight: 700;
    text-transform: uppercase;
}
button#buttonPerimeter {
    color: #000;
    background-color: #ffb000;
    margin-bottom: 10px;
}
button#buttonArea{
    background-color: #000;
    color: #ffb000;
}
@media(max-width:767px){
    body{
        padding: 70px 40px;
    }
    .container-figures{
        grid-template-columns: 1fr;
    }
    header h1{
        font-size: 36px;
    }
    .container-figures section{
        padding: 20px;
    }
}